<div class="home-banner">
  <h1>Mister Coktails</h1>
  <%= link_to 'Built Your Cocktail', new_cocktail_path, class: "benim"  %>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cok| %>
      <div class="col-md-4">
        <%= link_to cocktail_path(cok) do%>
        <div class="card on card-image " style="width: 33rem; height:14em;">
          <h3 class="card-title"><%= cok.name %></h3>
          <h6 class="card-subtitle mb-2 text-muted popup1_open">warning</h6>
          <p class="card-text fazla"></p>
        </div>
        <% end %>
      </div>
      <% end -%>
    </div>
  </div>


  <section id="popup1" class="open">
    <h2>dddddddddddddddddd</h2>
    <p>blabkabka</p>
    <p>blabkabka</p>
    <p>blabkabka</p>
    <p>blabkabka</p>
    <p>blabkabka</p>
  </section>
</div>
</div>
