<div class="home-banner">
  <h1>Mister Coktails</h1>
  <%= link_to 'Built Your Cocktail', new_cocktail_path, class: "benim"  %>
</div>
<div class="main">
  <div class="container">
    <div class="row">

      <% @cocktails.each do |cok| %>
      <div class="col-md-4">
        <%= link_to cocktail_path(cok) do%>
        <div class="card on flat-card-image card-p" style="width: 33rem; height:14em;">
          <h3 class="card-title"><%= cok.name %></h3>
          <h6 class="card-subtitle mb-2 text-muted popup1_open">warning</h6>
          <p class="card-text fazla"></p>
        </div>
        <% end %>
      </div>
      <% end -%>
    </div>



</div>

<section id="popup1" class="open">
  <h2>dont drink and drive</h2>
  <p>blabkabka</p>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>

  </div>
</div>
