<div class="container text-center">

  <div class= "orta">

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.error_notification %>
 <%= f.input :name, class: "form-control" %>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>



</div>

</div>

